In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=6c4a699fa1eda1c4141ceb222f27e640eb00a75b88eed4803957371946c7fae6
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
import pyspark

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('Aggregate').getOrCreate()

In [ ]:
spark

In [ ]:
df_pyspark = spark.read.csv('test4.csv', header=True, inferSchema=True)
df_pyspark.show()

+---------+------------+------+
|     Name|  Department|Salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [ ]:
# df_pyspark = spark.read.option('header','True').csv('test4.csv').show()

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [ ]:
# Group by function
# Groyup by and aggregate function works together

df_pyspark.groupBy('Name').sum('Salary').show()

+---------+-----------+
|     Name|sum(Salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [ ]:
# sum of salary grouby their department
df_pyspark.groupBy('Department').sum('Salary').show()

+------------+-----------+
|  Department|sum(Salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [ ]:
# mean salary groupby their department

df_pyspark.groupBy('Department').mean('Salary').show()

+------------+-----------+
|  Department|avg(Salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [ ]:
# Count the no. of employees department wise
df_pyspark.groupBy('Department').count().show()

+------------+-----+
|  Department|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [ ]:
# Direct agg function
# total salary
df_pyspark.agg({'Salary':'Sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

In [ ]:
# finding the median of the salary
df_pyspark.agg({'Salary':'median'}).show()

+--------------+
|median(Salary)|
+--------------+
|        5000.0|
+--------------+

In [ ]:
# finding the mean of the salary
df_pyspark.agg({'Salary':'mean'}).show()

+-----------+
|avg(Salary)|
+-----------+
|     7300.0|
+-----------+

In [ ]:
# finding the mode of the name column
df_pyspark.agg({'Name':'mode'}).show()

+----------+
|mode(Name)|
+----------+
| Sudhanshu|
+----------+

In [ ]:
# finding the mode of the salary
df_pyspark.agg({'Salary':'mode'}).show()

+------------+
|mode(Salary)|
+------------+
|       10000|
+------------+

In [ ]:
# finding the maximum salray group by their department
df_pyspark.groupBy('Name').max('Salary').show()

+---------+-----------+
|     Name|max(Salary)|
+---------+-----------+
|Sudhanshu|      20000|
|    Sunny|      10000|
|    Krish|      10000|
|   Mahesh|       4000|
+---------+-----------+

In [ ]:
# finding the maximum salary department wise
df_pyspark.groupBy('Department').max('Salary').show()

+------------+-----------+
|  Department|max(Salary)|
+------------+-----------+
|         IOT|      10000|
|    Big Data|       5000|
|Data Science|      20000|
+------------+-----------+

In [ ]:
df_pyspark.groupBy('Department').min('Salary').show()

+------------+-----------+
|  Department|min(Salary)|
+------------+-----------+
|         IOT|       5000|
|    Big Data|       2000|
|Data Science|       3000|
+------------+-----------+