In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=d91bc5c344cc8b10c606972f04dcf7d34ec32af5b6f012268e1753fd608ed4f9
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
import pyspark

In [ ]:
import pandas as pd
df=pd.read_csv('test1.csv')
df

      Name  Age  Experience
0    Rushi   23           1
1  Swapnil   25           5
2  Shubham   24           7

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [ ]:
spark

In [ ]:
df_pyspark = spark.read.csv('test1.csv')

In [ ]:
df_pyspark.show()

+-------+---+----------+
|    _c0|_c1|       _c2|
+-------+---+----------+
|   Name|Age|Experience|
|  Rushi| 23|         1|
|Swapnil| 25|         5|
|Shubham| 24|         7|
+-------+---+----------+

In [ ]:
# Reading the dataset
df_pyspark = spark.read.option('header','true').csv('test1.csv')
df_pyspark.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|  Rushi| 23|         1|
|Swapnil| 25|         5|
|Shubham| 24|         7|
+-------+---+----------+

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.head(3)

[Row(Name='Rushi', Age='23', Experience='1'),
 Row(Name='Swapnil', Age='25', Experience='5'),
 Row(Name='Shubham', Age='24', Experience='7')]

In [ ]:
# Checking the schema of the dataset
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [ ]:
df_pyspark = spark.read.csv('test1.csv',header=True,inferSchema=True)
df_pyspark.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|  Rushi| 23|         1|
|Swapnil| 25|         5|
|Shubham| 24|         7|
+-------+---+----------+

In [ ]:
# Checking the schema of the dataset
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [ ]:
# Get the list of columns in the dataframe
df_pyspark.columns

['Name', 'Age', 'Experience']

In [ ]:
# Get a perticular column
df_pyspark.select('Name').show()

+-------+
|   Name|
+-------+
|  Rushi|
|Swapnil|
|Shubham|
+-------+

In [ ]:
df_pyspark.select('Age').show()

+---+
|Age|
+---+
| 23|
| 25|
| 24|
+---+

In [ ]:
# selecting multiple columns
df_pyspark.select(['Name','Experience']).show()

+-------+----------+
|   Name|Experience|
+-------+----------+
|  Rushi|         1|
|Swapnil|         5|
|Shubham|         7|
+-------+----------+

In [ ]:
df_pyspark.select(['Name','Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
|  Rushi| 23|
|Swapnil| 25|
|Shubham| 24|
+-------+---+

In [ ]:
# checking the datatypes of columns
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [ ]:
# describe function
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [ ]:
df_pyspark.describe().show()

+-------+-------+----+------------------+
|summary|   Name| Age|        Experience|
+-------+-------+----+------------------+
|  count|      3|   3|                 3|
|   mean|   NULL|24.0| 4.333333333333333|
| stddev|   NULL| 1.0|3.0550504633038935|
|    min|  Rushi|  23|                 1|
|    max|Swapnil|  25|                 7|
+-------+-------+----+------------------+

In [ ]:
# Adding the column in the dataframe
df_pyspark = df_pyspark.withColumn('Experience after 2 years',df_pyspark['Experience']+2)
df_pyspark.show()

+-------+---+----------+------------------------+
|   Name|Age|Experience|Experience after 2 years|
+-------+---+----------+------------------------+
|  Rushi| 23|         1|                       3|
|Swapnil| 25|         5|                       7|
|Shubham| 24|         7|                       9|
+-------+---+----------+------------------------+

In [ ]:
# Droping the column
df_pyspark = df_pyspark.drop('Experience after 2 years')
df_pyspark.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|  Rushi| 23|         1|
|Swapnil| 25|         5|
|Shubham| 24|         7|
+-------+---+----------+

In [ ]:
# Renaming the column
df_pyspark = df_pyspark.withColumnRenamed('Name','EName')
df_pyspark.show()

+-------+---+----------+
|  EName|Age|Experience|
+-------+---+----------+
|  Rushi| 23|         1|
|Swapnil| 25|         5|
|Shubham| 24|         7|
+-------+---+----------+

# Handling the missing values

In [ ]:
df_pyspark2 = spark.read.csv('test2.csv', header=True, inferSchema=True)
df_pyspark2.show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
|     NULL|  36|      NULL|  NULL|
+---------+----+----------+------+

In [ ]:
df_pyspark2.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  31|        10| 30000|
|  30|         8| 25000|
|  29|         4| 20000|
|  24|         3| 20000|
|  21|         1| 15000|
|  23|         2| 18000|
|NULL|      NULL| 40000|
|  34|        10| 38000|
|  36|      NULL|  NULL|
+----+----------+------+

In [ ]:
df_pyspark2.drop('Experience').show()

+---------+----+------+
|     Name| Age|Salary|
+---------+----+------+
|    Krish|  31| 30000|
|Sudhanshu|  30| 25000|
|    Sunny|  29| 20000|
|     Paul|  24| 20000|
|   Harsha|  21| 15000|
|  Shubham|  23| 18000|
|   Mahesh|NULL| 40000|
|     NULL|  34| 38000|
|     NULL|  36|  NULL|
+---------+----+------+

In [ ]:
# Dropping the rows of null values
df_pyspark2.na.drop().show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [ ]:
# parameters in drop function
# how = 'any' or 'all'
df_pyspark2.na.drop(how='any').show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [ ]:
# how = 'all' it drops the record/row if all of it's fields are null
df_pyspark2.na.drop(how='all').show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
|     NULL|  36|      NULL|  NULL|
+---------+----+----------+------+

In [ ]:
# threshold
# thresh = <any integer value>
# if thresh value is 2 then it means that at least 2 non-null values should be present i.e. the rows having
# less than 2 non-null values will be dropped.
df_pyspark2.na.drop(how='any', thresh=2).show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
+---------+----+----------+------+

In [ ]:
# subset
# if we want to delete the rows having null values in a specific column the use subset to provide the column name
df_pyspark2.na.drop(subset=['Experience']).show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|     NULL| 34|        10| 38000|
+---------+---+----------+------+

In [ ]:
df_pyspark2.na.drop(subset=['Name']).show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
+---------+----+----------+------+

In [ ]:
df_pyspark2.na.drop(how='any', subset=['Age']).show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|     NULL| 34|        10| 38000|
|     NULL| 36|      NULL|  NULL|
+---------+---+----------+------+

In [ ]:
# filling the missing values
df_pyspark2.na.fill('missing value').show()

+-------------+----+----------+------+
|         Name| Age|Experience|Salary|
+-------------+----+----------+------+
|        Krish|  31|        10| 30000|
|    Sudhanshu|  30|         8| 25000|
|        Sunny|  29|         4| 20000|
|         Paul|  24|         3| 20000|
|       Harsha|  21|         1| 15000|
|      Shubham|  23|         2| 18000|
|       Mahesh|NULL|      NULL| 40000|
|missing value|  34|        10| 38000|
|missing value|  36|      NULL|  NULL|
+-------------+----+----------+------+

In [ ]:
df_pyspark2.na.fill(77777).show()

+---------+-----+----------+------+
|     Name|  Age|Experience|Salary|
+---------+-----+----------+------+
|    Krish|   31|        10| 30000|
|Sudhanshu|   30|         8| 25000|
|    Sunny|   29|         4| 20000|
|     Paul|   24|         3| 20000|
|   Harsha|   21|         1| 15000|
|  Shubham|   23|         2| 18000|
|   Mahesh|77777|     77777| 40000|
|     NULL|   34|        10| 38000|
|     NULL|   36|     77777| 77777|
+---------+-----+----------+------+

In [ ]:
# filling missing values using mean,median and mode
from pyspark.ml.feature import Imputer
imputer = Imputer(
    strategy = 'mean',
    inputCols = ['Age','Experience','Salary'],
    outputCols=[f'{c}_imputed' for c in ['Age','Experience','Salary']]
)

In [ ]:
# Adding imputed columns to df_pyspark2
imputer.fit(df_pyspark2).transform(df_pyspark2).show()

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|    Krish|  31|        10| 30000|         31|                10|         30000|
|Sudhanshu|  30|         8| 25000|         30|                 8|         25000|
|    Sunny|  29|         4| 20000|         29|                 4|         20000|
|     Paul|  24|         3| 20000|         24|                 3|         20000|
|   Harsha|  21|         1| 15000|         21|                 1|         15000|
|  Shubham|  23|         2| 18000|         23|                 2|         18000|
|   Mahesh|NULL|      NULL| 40000|         28|                 5|         40000|
|     NULL|  34|        10| 38000|         34|                10|         38000|
|     NULL|  36|      NULL|  NULL|         36|                 5|         25750|
+---------+----+----------+------+-----------+------------------+--------------+

# Filter Operations

In [ ]:
df_pyspark3 = spark.read.csv('test3.csv', header='True', inferSchema='True')
df_pyspark3.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [ ]:
# printing the records whose salary in less than or equal to 20000
df_pyspark3.filter('Salary<=20000').show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [ ]:
df_pyspark3.filter(df_pyspark3['Salary']<=20000).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [ ]:
df_pyspark3.filter('Salary<=20000').select(['Name','Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
|  Sunny| 29|
|   Paul| 24|
| Harsha| 21|
|Shubham| 23|
+-------+---+

In [ ]:
df_pyspark3.filter((df_pyspark3['Salary']<20000) &
                   (df_pyspark3['Salary']>15000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [ ]:
df_pyspark3.filter(df_pyspark3['Name']=='Shubham').show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [ ]:
df_pyspark3.filter('Age!=30').select(['Name','Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
|  Krish| 31|
|  Sunny| 29|
|   Paul| 24|
| Harsha| 21|
|Shubham| 23|
+-------+---+

In [ ]:
df_pyspark3.filter('Age>25').show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
+---------+---+----------+------+

In [ ]:
# Inverse of the opearation
df_pyspark3.filter(~(df_pyspark3['Salary']<=20000)).show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+